%h1 ListKick
%p Manage your lists in a hassle free way! 
%p We all make lists. Shopping lists, todo list, wishlist, book list, wine list and many others. ListKick offers a very simple way to manage your lists. All you need to do is email us the newest item on your list and we will take care of the rest.
%p So you bought milk and eggs from the grocery store? Just mark them as done in an email and we will update your lists. 
%p No need to worry about post it notes, no need to download todo apps, grocery apps, and an app for each type of list. No need to try go to any website. ListKick bring all the management to your email

- unless current_user
  = link_to "Sign up now", signup_path, :class => "signup_button round"

